<html>
  <head>
    <title>KING OF CARDS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/0.css">
    <link rel="icon" href="../static/IMG/icon.png" type="image/icon type">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
      </ul>
    </nav>
    <section id="s1">
      <p>PLAYED ON 07/08/22</p>
      <table>
        <thead> 
          <tr>
            <th>PLAYERS</th>
            <th>MONOPOLY</th>
            <th>BLUFF</th>
            <th>SPOON</th>
            <th>UNO</th>
            <th>MONOPOLY</th>
            <th>BLUFF</th>
            <th>SPOON</th>
            <th>UNO</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ABHINAV</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>4</td>
          </tr>
          <tr>
            <td>ABHISHEK</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
          </tr>
          <tr>
            <td>AKHIL</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>SAHIL</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
          </tr>
          <tr>
            <td>SHRUTI</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>6</td>
          </tr>
          <tr>
            <td>UTKARSH</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>0</td>
            <td>8</td>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
</html>
