<html>
  <head>
    <title>KING OF CARDS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/0.css" />
    <link rel="icon" href="../static/IMG/icon.png" type="image/icon type" />
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="../index.html"><img src="../static/IMG/Home.png" /></a>
        </li>
      </ul>
    </nav>
    <section id="s1">
      <p>PLAYED ON 19/07/2025</p>
      <table>
        <thead>
          <tr>
            <th>PLAYERS</th>
            <th>MONOPOLY</th>
            <th>BLUFF</th>
            <th>SPOON</th>
            <th>UNO</th>
            <th>MONOPOLY</th>
            <th>BLUFF</th>
            <th>SPOON</th>
            <th>UNO</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="color: gold">ABHINAV</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td style="color: gold">10</td>
          </tr>
          <tr>
            <td style="color: silver">SHRUTI</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>0</td>
            <td style="color: silver">4</td>
          </tr>
          <tr>
            <td>ABHISHEK</td>
            <td>0</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>UTKARSH</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>4</td>
          </tr>
          <tr>
            <td>AKHIL</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
</html>
