<html>
  <head>
    <meta charset="utf-8" />
    <title>KING OF CARDS</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/alert.css" />
    <link rel="icon" href="../static/IMG/icon.png" type="image/icon type" />
  </head>

  <body>
    <nav>
      <div class="logo"><img src="../static/IMG/logo.png" /></div>
      <input id="click" type="checkbox" />
      <label class="menu-btn" for="click"><i class="fas fa-bars"></i></label>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="player.html">Players</a></li>
        <li><a href="protection.html">Gallery</a></li>
        <li><a href="alert.html">Alert</a></li>
      </ul>
    </nav>
    <section class="container">
      <img src="../static/IMG/cover.jpg" />
      <h1 id="scroll">NEXT EDITION</h1>
    </section>
    <section class="S2">
      <h1 id="date">ON 10/11/2024</h1>
      <h2 id="countdown"></h2>
    </section>
    <script>
      let fun = document.getElementById("scroll");
      window.addEventListener("scroll", () => {
        let f = window.scrollY;
        fun.style.top = 240 + f * 0.7 + "px";
      });
      var now = new Date().getTime();
      var countDownDate = new Date("11/10/2024").getTime();
      var distance = countDownDate - now;
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      document.getElementById("countdown").innerHTML = days + " DAYS LEFT";
      // TIME PASS
      // let y;
      // let count = 0;
      // while (days != y) {
      //   y = prompt("GUESS THE NUMBER OF DAYS LEFT ?");
      //   if (y < days) {
      //     alert("HIGHER");
      //   } else if (y > days) {
      //     alert("LOWER");
      //   }
      //   count = count + 1;
      // }
      // if ((days = y)) {
      //   alert("YOU GUESSED IN " + count + " CHANCES");
      // }

      const checkbox = document.getElementById("click");
      const s1 = document.getElementsByClassName("container");
      const s2 = document.getElementsByClassName("S2");

      checkbox.addEventListener("change", function () {
        if (checkbox.checked) {
          // Loop through the s1 collection
          for (let i = 0; i < s1.length; i++) {
            s1[i].style.display = "none";
          }
          // Loop through the s2 collection
          for (let i = 0; i < s2.length; i++) {
            s2[i].style.display = "none";
          }
        } else {
          // Loop through the s1 collection
          for (let i = 0; i < s1.length; i++) {
            s1[i].style.display = "flex";
          }
          // Loop through the s2 collection
          for (let i = 0; i < s2.length; i++) {
            s2[i].style.display = "flex";
          }
        }
      });
    </script>
  </body>
</html>
