<html>
  <head>
    <meta charset="utf-8"/>
    <title>KING OF CARDS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/player.css">
  </head>
  <body>
    <nav>
      <div class="logo"><img src="../static/IMG/logo.png"/></div>
      <input id="click" type="checkbox"/>
      <label class="menu-btn" for="click"><i class="fas fa-bars"></i></label>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="player.html">Players</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="feedback.html">Feedback</a></li>
      </ul>
    </nav>
    <section id="s1">
      <div id="us">PARTICIPANTS</div>
      <div id="me">
        <p><a href="https://www.instagram.com/abhinavpanwar199/" target="_blank">ABHINAV PANWAR</a></p>
        <p> <a href="https://www.instagram.com/abhisheksehrawat_/?next=%2F" target="_blank">ABHISHEK SEHRAWAT</a></p>
        <p> <a href="https://www.instagram.com/akhil.panwar05/?next=%2F" target="_blank">AKHIL PANWAR</a></p>
        <p> <a href="https://www.instagram.com/sahilpanwarlife/?next=%2F" target="_blank">SAHIL PANWAR</a></p>
        <p> <a href="https://www.instagram.com/shruti_sehrawat/?next=%2F" target="_blank">SHRUTI SEHRAWAT</a></p>
        <p> <a href="https://www.instagram.com/abhinavpanwar199/" target="_blank">UTKARSH PANWAR</a></p>
      </div>
    </section>
  </body>
</html>
