<!DOCTYPE html>
<html>
  <head>
    <title>KING OF CARDS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/IMG/icon.png" type="image/icon type" />
    <link rel="stylesheet" href="../static/protection.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="../index.html"><img src="../static/IMG/Home.png" /></a>
        </li>
      </ul>
    </nav>
    <section class="protect">
      <h1>ENTER PASSWORD TO ACCESS THE PAGE</h1>
      <form id="password-form">
        <input type="password" id="password" name="password" />
        <button type="submit">Submit</button>
      </form>
    </section>
    <script>
      async function hashPassword(password) {
        const encoder = new TextEncoder();
        const data = encoder.encode(password);
        const hashBuffer = await crypto.subtle.digest("SHA-256", data);
        const hashArray = Array.from(new Uint8Array(hashBuffer));
        return hashArray
          .map((byte) => byte.toString(16).padStart(2, "0"))
          .join("");
      }

      const encryptedURL = "Z2FsbGVyeS5odG1s";

      const storedPasswordHash =
        "df39e8fbeff7aa1bc95ec48b0bf05b23dd96b03e880a52a308f8b1286b277076";

      var form = document.getElementById("password-form");
      form.addEventListener("submit", async function (event) {
        event.preventDefault();
        var password = document.getElementById("password").value.trim();
        var enteredPasswordHash = await hashPassword(password);

        console.log("Entered password hash:", enteredPasswordHash);

        if (enteredPasswordHash === storedPasswordHash) {
          var decodedURL = atob(encryptedURL);
          window.location.href = decodedURL;
        } else {
          alert("INCORRECT PASSWORD !!!");
        }
      });
    </script>
  </body>
</html>
