@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
  height: 80px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  list-style: none;
  padding-top: 25px;
}

a img {
  width: 50px; /* Adjust size as needed */
  height: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

a img:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
  opacity: 0.8;
}

a {
  display: inline-block;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: black;
  border: 1px solid white;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
  color: white;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid white;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid white;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

#s1 {
  padding-top: 100px;
  height: calc(100% - 80px);
  background-color: black;
  cursor: default;
}

#s1 p {
  color: gold;
  text-align: center;
  margin-bottom: 20px;
  word-spacing: 10px;
  font-family: "Sriracha", cursive;
}
